@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Space+Mono&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

li, a, button, p{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}
button {
    background-color: #3882f6;
    padding: 3px;
    margin-top: 5px;
    border-radius: 8px;
    border: none;
    width: 120px;
}
button:hover{
    background-color: #e5e7eb;
    color: #3882f6;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
}
.mainHide{
    background-color: #1f2937;
    height: 500px;
}
.logo {
    cursor: pointer;
}
.nav_links {
    list-style: none;
}
.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.hero h1{
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.mainHero {
    margin: 5% 10%;
    display: flex;
    justify-content: space-between;
    align-content: center;
    vertical-align: top;
}
.mainImg{
    height: 300px;
}
.mainImg img{
    height: 100%;
}
.hero {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: start;
    width: 400px;
    height: 300px;
}
.mainBody h1{
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    display: flex;
    justify-content: center;
}
.mainBody{
    display: flex;
    flex-direction: column;
    height: 500px;
    justify-content: space-around;

}
.content img {
    height: 200px;
    width: 200px;
    border: 4px solid #3882f6;
    margin: 10px;
    border-radius: 8px;
    object-fit: cover;
}
.pics {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.caption {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #1f2937;
    width: 200px;
    margin: 0 10px;
    line-break:auto;
    text-align: center;
}
.textarea{
    height: 400px;
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    padding: 0 200px;
    justify-content: center;
}
.quote {
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    text-align: justify;
    
}
.quotecap{
    font-family: 'Roboto', sans-serif;
    text-align: right;
}
.foda {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cta{
    background-color: #3882f6;
    width: 1000px;
    height: 50%;
    border-radius: 16px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.cta button{
    border: solid 2px #e5e7eb;
}
footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #1f2937;
    height: 50px;
    text-align: center;

    
}
footer p {
    padding-top: 15px;
}